.loading {
    background: url(../images/loading.gif) no-repeat center center rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.bold {
    font-weight: bold;
}
.table {
	background:#fff;
	border-bottom:1px solid #e2e2e2;
	padding: 15px 20px
}
.table th, .table tr td {
	text-align: center;
}




